<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="~/lib/Cookie/js.cookie.min.js"></script>
    <script>
        const Pwa = window.matchMedia('(display-mode: standalone)').matches;
        if (Cookies.get("Web") === undefined) Cookies.set("Web", false, { expires: 228 });
        if (Cookies.get("Web") === "true" && location.pathname === "/install") location.href = "/login";
        if (Pwa === false && location.pathname !== "/install" && Cookies.get("Web") !== "true") location.href = "/install";
        if (Pwa === true && location.pathname === "/install") location.href = "/login";
    </script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <script src="~/js/Layout.js" asp-append-version="true"></script>
    <link rel="manifest" href="~/manifest.json" asp-append-version="true">
    <link rel="shortcut icon" href="~/Icons/180x180.png" asp-append-version="true"/>
    <link rel="apple-touch-icon" href="~/Icons/1024x1024.png" asp-append-version="true"/>
    <link href="~/favicon.ico" rel="icon" asp-append-version="true"/>
    <link href="~/lib/Bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/lib/Bootstrap/css/mdb.min.css" rel="stylesheet"/>
    <link href="~/css/Layout.css" rel="stylesheet" asp-append-version="true"/>
    <script src="~/lib/Google/api_client.js"></script>
    <script src="~/lib/ParallaxBackground/Script.js" asp-append-version="true"></script>
    <script src="~/lib/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/Bootstrap/js/mdb.min.js"></script>
    <script src="~/lib/Vue/vue.min.js"></script>
    <script src="~/lib/Axios/axios.min.js"></script>
    <script src="~/js/LangsLoader.js" type="module" asp-append-version="true"></script>
    @await RenderSectionAsync("ScriptsBefore", false)
</head>
<body>
<div id="Background" class="BackD"></div>
<div id="app" v-cloak>
    @RenderBody()

</div>
@await RenderSectionAsync("ScriptsAfter", false)
</body>
</html>
<script>LoadBackground()</script>