
@{
    ViewData["Title"] = "IOTEST Install";
}
@section ScriptsAfter
{
    <script src="js/Install.js" asp-append-version="true" type="module"></script>
}

<div id="Page" class="user-select-none">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-75">
            <div class="text-light">
                <div class="d-flex justify-content-center">
                    <h1 class="DOB" style="font-family: 'Noto Sans TC', sans-serif;">IO Test system</h1>
                </div>
                <hr class="mt-0">
                <div class="d-flex justify-content-center" v-if="!InstYet||IsIphone">
                    <button class="btn btn-outline-light btn-lg DOB" v-on:click="InstallClick">Установить</button>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-1">
                    <span v-if="!InstYet||IsIphone" class="text-center">
                        Для начала вам нужно установить наше PWA приложение
                    </span>
                    <span v-else class="text-center" style="line-height:30px;">
                        Перейдите в приложение или в
                        <button class="btn btn-outline-light btn-sm DOB" v-on:click="ToWeb">WEB версию</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center h-25">
            <div class="text-light">
                <div class="d-flex justify-content-center align-items-center mt-1">
                    <span class="text-center">
                        IOTest - интерактивная платформа тестирования
                        Все что нужно, для школьного и не только тестирования на одном сайте
                    </span>
                </div>
            </div>
        </div>
        <div class="modal fade modal-fullscreen" id="guide" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-transparent">
                    <div class="modal-header text-light" style="font-family: 'Noto Sans TC', sans-serif;">
                        <h4>IOS:</h4>
                    </div>
                    <div class="modal-body text-light">
                        <div class="row d-flex justify-content-center">
                            <div class="col-10"><img src="~/Photos/IMG_5352.PNG" alt="Alternate Text" class="img-fluid rounded" /></div>
                            <hr />
                            <div class="col-10"><img src="~/Photos/IMG_5353.PNG" alt="Alternate Text" class="img-fluid rounded" /></div>
                            <hr />
                            <div class="col-10"><img src="~/Photos/IMG_5354.PNG" alt="Alternate Text" class="img-fluid rounded" /></div>
                            <hr />
                            <div class="col-10"><img src="~/Photos/IMG_5355.PNG" alt="Alternate Text" class="img-fluid rounded" /></div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center row">
                        <button type="button" class="btn btn-outline-light col-7" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>