@model IoContext.User
@{ ViewData["Title"] = "Tests"; }

@section ScriptsAfter
{
    <script src="js/Resources.js" asp-append-version="true" type="module"></script>
}

<header>
    <nav class="navbar navbar-dark" style="background-color:rgba(45, 51, 51, 0.50)">
        <div class="container-fluid ">
            <a class="navbar-brand user-select-none DOB d-none d-sm-block" href="/">
                <img src="~/Icons/144x144.png" alt="" width="35" height="35" class="d-inline-block align-top">
                <span>
                    TEST system
                </span>
            </a>
            <span class="DOB navbar-brand float-left ml-auto user-select-none border-1 border-dark" style="cursor: pointer" v-on:click="location.href='/me'">
                <span class="mr-1">@Model.FirstName</span>
                <span class="mr-2">@Model.FamilyName</span>
                <img src="@Model.Image" alt="" width="35" height="35" class="d-inline-block align-top rounded-circle">
            </span>
        </div>
    </nav>
</header>
<div id="Page" class="user-select-none container-fluid text-light text-center">
<div class="row d-flex justify-content-center mt-sm-5">
<div class="col-12 col-xl-8 col-lg-9 col-md-10 mt-md-5 ">
<div class="bg-dark">
<div class="row">
<div class="DOB mt-2">
<div>
    <span>
         <h3>Ресурсы</h3>
    </span>
</div>
<hr class="m-0"/>
<div>
    <span v-if="0">
        <div class="m-3">
            <div class="container">
         
            </div>
        </div>
    </span>
    <span v-if="1">
           <div class="m-3">
               <div class="container">
<div class="form-group col-6 offset-3 p-3">
                    <h5>Название ресурса</h5>
                    <input v-model="ResName" type="text" placeholder="" class="form-control text-center bg-dark text-light border-2 border-light">
</div>
                   <div class="form-group">
                       <label for="exampleFormControlFile1">Example file input</label>
                       <input accept="image/*" v-on:change="LoadImg()" ref="picInp" type="file" class="form-control-file" id="exampleFormControlFile1">
                   </div>
                   <img v-if="imgFile" src="" width="300" class="img-thumbnail" v-bind:src="imgBase64" alt="#">
               
               </div>
           </div>
       </span>
</div>
<hr class="m-0"/>
<div>
    <span v-if="1" class="d-flex justify-content-evenly">
        <a class="m-3 btn btn-outline-light" v-on:click="location.href = '/tests'">Тесты</a>
        <a class="m-3 btn btn-outline-light" v-on:click="AddRes">Добавить ресурс</a>
    </span>
   
</div>
</div>
</div>
</div>
</div>
</div>
</div>