@model IOTEST.IoContext.User
@{
    ViewData["Title"] = "IOTEST - Test Creator";
}

@section ScriptsBefore
{
    <script src="lib/Pixijs/pixi.js"></script>
    <script src="js/TestCore.js" asp-append-version="true"></script>
}

@section ScriptsAfter
{
    <script src="js/TestCreator.js" asp-append-version="true" type="module"></script>
}

<header>
    <nav class="navbar navbar-dark" style="background-color:rgba(45, 51, 51, 0.50)">
        <div class="container-fluid ">
            <a class="navbar-brand user-select-none DOB d-none d-sm-block" href="/">
                <img src="~/Icons/144x144.png" alt="" width="35" height="35" class="d-inline-block align-top">
                <span>
                    TEST system
                </span>
            </a>
            <span class="DOB navbar-brand float-left ml-auto user-select-none border-1 border-dark" style="cursor: pointer" v-on:click="location.href='/me'">
                <span class="mr-1">@Model.FirstName</span>
                <span class="mr-2">@Model.FamilyName</span>
                <img src="@Model.Image" alt="" width="35" height="35" class="d-inline-block align-top rounded-circle">
            </span>
        </div>
    </nav>
</header>
<script>
const MyMail = "@Model.Gmail";
</script>
<div id="Page" class="user-select-none container-fluid" v-cloak>
    <div class="row mt-1">
        <div class="col-12 offset-0 col-sm-10 offset-sm-1 mt-3 col-lg-8 offset-lg-2 offset-xl-3 col-xl-6   DOB" style="background-color:rgba(45, 51, 51, 0.50)">
            <div>
                <div id="TestHead" class="text-left row pt-2">
                    <h4 class="text-light mt-2 text-center text-md-left">{{1}}</h4>
                    <hr class="bg-light my-2"/>
                </div>
                <div id="TestMain" class="text-center text-light  DOB">
                    <div id="InteractiveBlock">
                        <canvas id="TestCanvas"></canvas>
                    </div>
                </div>
                <div id="TestFooter" class="text-left  pt-2 mt-0  row">
                    <hr class="bg-light md-2 mt-0"/>
                </div>
                
            </div>
        </div>
    </div>
</div>