@model IoContext.User
@{ ViewData["Title"] = "IOTEST - Tests"; }

@section ScriptsAfter
{
    <script src="js/TestCore.js" asp-append-version="true"></script>
    <script src="js/Tests.js" asp-append-version="true" type="module"></script>
}

<header>
    <nav class="navbar navbar-dark" style="background-color:rgba(45, 51, 51, 0.50)">
        <div class="container-fluid ">
            <a class="navbar-brand user-select-none DOB d-none d-sm-block" href="/">
                <img src="~/Icons/144x144.png" alt="" width="35" height="35" class="d-inline-block align-top">
                <span>
                    TEST system
                </span>
            </a>
            <span class="DOB navbar-brand float-left ml-auto user-select-none border-1 border-dark" style="cursor: pointer" v-on:click="location.href='/me'">
                <span class="mr-1">@Model.FirstName</span>
                <span class="mr-2">@Model.FamilyName</span>
                <img src="@Model.Image" alt="" width="35" height="35" class="d-inline-block align-top rounded-circle">
            </span>
        </div>
    </nav>
</header>
<div id="Page" class="user-select-none container-fluid text-light text-center">
    <div class="row d-flex justify-content-center mt-sm-5">
        <div class="col-12 col-xl-8 col-lg-9 col-md-10 mt-md-5 ">
            <div class="bg-dark">
                <div class="row">
                    <div class="DOB mt-2">
                        <div>
                            <span v-if="ShowMode==0">
                                <div class="row">
                                    <div class="col-4 offset-4">
                                        <h4>Тесты</h4>
                                    </div>
                                </div>
                            </span>
                            <span v-if="ShowMode==1">
                                <div class="row">
                                    <div class="col-4 offset-4">
                                        <h4>Создание теста</h4>
                                    </div>
                                </div>
                            </span>
                            <span v-if="ShowMode==11">
                                <div class="row">
                                    <div class="col-4 offset-4">
                                        <h4>{{EditedTest.Name}}</h4>
                                    </div>
                                </div>
                            </span>
                            <span v-if="ShowMode==20">
                                <div class="row">
                                    <div class="col-4 offset-4">
                                        <h4>Задания</h4>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <hr class="m-0"/>
                        <div>
                            <span v-if="ShowMode==0">
                                <div class="m-3">
                                    <div class="container">
                                        <div class="row">
                                            <div class="bg-transparent overflow-auto">
                                                <div class="list-group" style="max-height: 40vh" v-if="LoadedTests">
                                                    <div v-for="i in LoadedTests" v-if="LoadedTests.length!=0">
                                                        <div class="m-1">
                                                            <div class="list-group-item bg-dark">
                                                                <div v-on:mouseleave="MouseOverGroup =null">
                                                                    <h5 class="gdd" style="user-select: all" v-if="MouseOverGroup == i">{{i.Key}}</h5>
                                                                    <h5 v-else v-on:mouseover="MouseOverGroup = i">{{i.Name}}</h5>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <a class="btn btn-outline-light" v-on:click="EditTest(i)">Редактировать</a>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div v-if="LoadedTests.length==0">
                                                        <h4>Вы не создали тестов</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                            <span v-else-if="ShowMode==1">
                                <div class="row">
                                    <div>
                                        <div class="form-group col-6 offset-3 p-3">
                                            <h5>Название</h5>
                                            <input v-bind:class="{'is-invalid':TestNameInvalid}" v-model="TestName" type="text" placeholder="" class="form-control text-center bg-dark text-light border-2 border-light">
                                            <div class="invalid-feedback">{{TestNameInvalid}}</div>
                                        </div>
                                        <div class="form-group col-6 offset-3 p-3">
                                            <h5>Описание</h5>
                                            <textarea v-model="TestDescription" class="form-control text-center bg-dark text-light border-2 border-light"></textarea>
                                        </div>
                                        <div class="form-group col-6 offset-3 p-3">
                                            <h5>Финальный текст</h5>
                                            <textarea v-model="TestEndDescription" class="form-control text-center bg-dark text-light border-2 border-light"></textarea>
                                        </div>

                                    </div>
                                </div>
                            </span>
                            <span v-else-if="ShowMode==11">
                                <div class="row">
                                    <div>
                                        <div class="form-group col-6 offset-3 p-3">
                                            <div class="bg-transparent overflow-auto">
                                                <div class="list-group" style="max-height: 40vh" v-if="EditedTest.JsonData">
                                                    <div v-if="EditedLevelsList.length!=0">
                                                             <h5>Задания:</h5>
                                                        <div v-for="i in EditedLevelsList">
                                                            <div class="m-1">
                                                                <div class="list-group-item bg-dark">
                                                                    <div v-on:mouseleave="MouseOverGroup =null">
                                                                        <h5 v-on:mouseover="MouseOverGroup = i">{{i.Name}}</h5>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-8 offset-2">
                                                                            <a class="btn btn-outline-light" v-on:click="AddTask(i,true)">Редактировать</a>
                                                                        </div>
                                                                        <div class="col-1">
                                                                            <img src="~/Images/trash.svg" class="" width="32" height="32" alt="" v-on:click="RemoveTask(i)">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div v-else>
                                                        <h4>Вы не создали заданий</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                           
                                        </div>
                                    </div>
                                </div>
                            </span>
                     
                        </div>
                        <hr class="m-0"/>
                        <div>
                            <span v-if="ShowMode==0">
                                <a class="m-3 btn btn-outline-light" v-on:click="ShowMode=1">Создать Тест</a>
                            </span>
                            <span v-if="ShowMode==1">
                                <a class="m-3 btn btn-outline-light" v-on:click="ShowMode = 0">Назад</a>
                                <a class="m-3 btn btn-outline-light" v-on:click="CreateTest">Создать</a>
                            </span>
                            <span v-if="ShowMode==11">
                                <a class="m-3 btn btn-outline-light" v-on:click="ShowMode = 0">Назад</a>
                                <a class="m-3 btn btn-outline-light" v-on:click="AddTask">Добавить задание</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>