@model IndexController
@{ 

}
    <header>
        <nav class="navbar navbar-dark" style="background-color:rgba(45, 51, 51, 0.50)">
            <div class="container-fluid">
                <a class="navbar-brand user-select-none DOB" href="#">
                    <img src="~/Icons/144x144.png" alt="" width="35" height="35" class="d-inline-block align-top">
                    <span>
                        TEST system
                    </span>
                </a>
                <span class="DOB navbar-brand">
                    Navbar text with an inline element
                    <img src="~/Icons/144x144.png" alt="" width="35" height="35" class="d-inline-block align-top">

                </span>
            </div>
        </nav>
    </header>
    <div id="Page" class="user-select-none">

    </div>
