@model InstallController
@{
    Layout = null;
}
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/lib/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/Bootstrap/css/mdb.min.css" rel="stylesheet" />
    <link href="~/css/Install.css" rel="stylesheet" />
    <script src="~/lib/ParalaxBackground/Script.js"></script>
    <script src="~/lib/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/Bootstrap/js/mdb.min.js"></script>
    <script src="~/lib/Axios/axios.min.js"></script>
    <script src="~/lib/Vue/vue.min.js"></script>
    <script src="/VueComponents/InstallCompoonents.js"></script>


</head>
<body>


    <div id="app">
        <backganim></backganim>
        <h1 class="text-secondary text-center">123123123</h1>


    </div>
    <script src="~/js/Install.js"></script>
</body>
</html>